<div class="activities">
  <div class="container-center">
    <div class="super-padding">
      <h2>Activities Rental Houses</h2>
    </div>
  </div>
</div>

<div class="container-center overlay">
  <section class="row">
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWeThpNvRqsTpy9tMti7lfVr2uxGlF2wMdSw&s" alt="Paseo a caballo">
        <h4 class="card-title">GK Village </h4>
      </div>
    </div>
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="https://img-ap-1.trovit.com/img1ph/1Si1A1I1o1q10x/1Si1A1I1o1q10x.10_11.jpg" alt="Lago de Sanabria">
        <h4 class="card-title">GK Village </h4>
        <a class="card-more" href="https://maps.app.goo.gl/gnNUg1oyAq4dhMFV6" target="_blank">Más información</a>
      </div>
    </div>
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="https://img-ap-1.trovit.com/img1ph/CNkG1Pf1pc/CNkG1Pf1pc.2_11.jpg" alt="Multiaventura">
        <h4 class="card-title">GK Village</h4>
        <a class="card-more" href="https://homes.trovit.ph/listing/for-rent-commercial-or-office-units-and-residencial-house-bagumbong-north-caloocan-city.0f18c790-4010-11ed-912e-7ff9af38c15b" target="_blank">Más información</a>
      </div>
    </div>
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="https://img-ap-1.trovit.com/img1ph/1KaEB1910dH/1KaEB1910dH.1_11.jpg" alt="Gastronomía">
        <h4 class="card-title">GK village </h4>
       
        <a class="card-more" href="https://homes.trovit.ph/listing/for-rent-commercial-or-office-units-and-residencial-house-bagumbong-north-caloocan-city.0f18c790-4010-11ed-912e-7ff9af38c15b" target="_blank">Más información</a>
      </div>
    </div>
  </section>
</div>
