<div class="services">
  <div class="container-center pt-0">
    <div class="row text-start justify-content-center">
      <section class="left col-md-5 col-sm-10">
        <h3>Available services:</h3>
        <ul class="custom-list">
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i>Fully equipped </li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Washing machine
          </li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Television</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Hair dryer
          </li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Workspace</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Free parking </li>
        </ul>
				<button *ngIf="localBooking" class="btn-medium mb-5" aria-label="Book Now " (click)="scrollTo('booking')">Book Now </button>
				<button *ngIf="!localBooking" class="btn-medium mb-5" aria-label="Book Now " (click)="openLinkInNewTab()">Book Now </button>
      </section>
      <section class="right col-md-5 col-sm-10">
        <h3>Explore the area:
        </h3>
        <ul class="custom-list">
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i>Caloocan City </li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i>GK Village Caloocan City</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i>Phase 8a Gk Village </li>
        </ul>
        <h3 class="mt-5">Gk Village Caloocan City </h3>
        <ul class="custom-list">
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i>Variety of Accommodations:</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Accessibility: The rental</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Community Amenities</li>
        </ul>
      </section>
    </div>
  </div>
</div>
